<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website Donasi</title>
    <link href="../src/output.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="m-0 p-0">
    <!--INI BAGIAN NAVBAR-->
    <nav class="bg-green-600 p-4 w-full text-white fixed">
      <div class="container mx-auto flex justify-between items-center">
        <!-- LOGO -->
        <div class="text-2xl font-bold">Layak Untuk Semua</div>

        <!-- MENU -->
        <ul class="flex space-x-4 bg-green-500 px-6 py-2 rounded-full">
          <li>
            <a href="#" class="bg-white-700 px-10 py-1 rounded-full">Home</a>
          </li>
          <li>
            <a href="#" class="bg-white-700 px-10 py-1 rounded-full">About</a>
          </li>
          <li>
            <a href="#" class="bg-white-700 px-10 py-1 rounded-full">Track</a>
          </li>
        </ul>

        <!-- BAGIAN LOGIN -->
        <div>
          <a
            href="login.html"
            class="bg-green-500 px-4 py-2 rounded-full font-bold"
            >Login</a
          >
          <a
            href="register.html"
            class="bg-green-500 px-4 py-2 rounded-full font-bold"
            >Register</a
          >
        </div>
      </div>
    </nav>

    <!--INI BAGIAN LANDING PAGE-->
    <section class="w-full h-screen">
      <!--HOME-->
      <div>
        <img src="../asset/image2.png" class="w-full h-full object-cover" />
      </div>

      <!--ABOUT-->
      <div>
        <img src="../asset/image3.png" class="w-full" />
      </div>

      <div class="relative -mt-125 text-center">
        <div class="bg-green-400 inline-block px-6 py-2 rounded-full mb-8">
          akan selalu ada untung orang yang sudah tidak memiliki apapun
        </div>

        <div class="flex justify-center gap-10 mb-6">
          <img
            src="../asset/image4.jpg"
            class="w-30 h-30 border-radius rounded-full object-cover"
          />
          <img
            src="../asset/image5.jpg"
            class="w-32 h-32 border radius rounded-full object-cover"
          />
          <img
            src="../asset/image6.jpg"
            class="w-32 h-32 border-radius rounded-full object-cover"
          />
        </div>

        <div class="flex justify-center gap-10">
          <button class="bg-gray-300 px-4 py-2 rounded-lg border">
            Tombol Penjelasan
          </button>
          <button class="bg-gray-300 px-4 py-2 rounded-lg border">
            Tombol Penjelasan
          </button>
          <button class="bg-gray-300 px-4 py-2 rounded-lg border">
            Tombol Penjelasan
          </button>
        </div>
      </div>

      <!--TRACKING-->
    </section>

    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
  </body>
</html>
