<!doctype html>
<html>
<head>
  <title>Login</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-200 flex items-center justify-center h-screen">

<div class="bg-gray-300 p-8 rounded-xl w-[700px]">

  <h1 class="bg-green-400 px-6 py-2 rounded-full text-center mb-6">
    Log in
  </h1>

  <div class="flex gap-8">

    <!-- KIRI -->
    <div class="w-1/2">

      <input type="text" placeholder="Email/Username" class="w-full p-2 mb-4 rounded">

      <input type="password" placeholder="Password" class="w-full p-2 mb-4 rounded">

      <div class="flex justify-between text-sm mb-4">
        <a href="register.html" class="bg-green-400 px-3 py-1 rounded-full">Buat Akun</a>
        <a href="#" class="bg-green-400 px-3 py-1 rounded-full">Lupa Akun</a>
      </div>

      <button class="bg-green-400 px-6 py-2 rounded w-full mb-3">
        Submit
      </button>

      <div class="text-center">
        <button class="bg-green-400 px-4 py-1 rounded text-sm">
          More info
        </button>
      </div>

    </div>

    <!-- KANAN -->
    <div class="w-1/2 flex flex-col justify-center gap-4">

      <button class="bg-green-400 p-3 rounded flex items-center justify-center gap-2">
        <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png" class="w-5">
        Google
      </button>

      <button class="bg-green-400 p-3 rounded flex items-center justify-center gap-2">
        <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" class="w-5">
        Facebook
      </button>

    </div>

  </div>

</div>

</body>
</html>